<div class="container">

<h1>Your Bookings</h1>

<div class="tabs">
        <a href="#" class="tab active">Traveling</a>
        <a href="#" class="tab">Hosting</a>
</div>

<% @bookings.each do |booking| %>
  <div class="message">
    <%= cl_image_tag booking.experience.user.photo, class:'message-avatar' %>
    <div class="message-name">
      <%= booking.experience.user.email %>
      <p>10/07/17</p>
    </div>
    <div class="message-body">
      <p><strong><%= booking.experience.name %></strong></p>
      <p><%= booking.number_of_kiters %></p>
      <p><%= booking.start_date %></p>
      <p><%= booking.end_date %></p>
    </div>
    <div class="message-status">
      <p class="status pending">Pending</p>
      <p class="price">€<%= booking.total_price %></p>
      <%= link_to 'delete', booking_path(booking), method: :delete %>
    </div>
  </div>

<% end %>

</div>
