
<div class="banner-booking" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.3)), url(<%= asset_path 'sea.jpg' %>);">
  <div class="container" id="booking-container">
    <div id="booking-form">
      <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
           <div class="form-wrapper" style="width: 400px; margin: 0 auto;">
            <h2>Book this amazing experience!</h2>
            <p id="experience_price_per_day" class="hidden"><%= @experience.price_per_day %></p>
            <%= simple_form_for([@experience, @booking]) do |f| %>
              <%= f.input :number_of_kiters, placeholder: 'How many kiters?', class:'counter' %>
              <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker", id: 'range_start'} %>
              <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker", id: 'range_end'} %>
              <%= f.button :submit, "Book", class: "btn-izy", id: "btn-submit-booking" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


