<%= render 'shared/banner_new' %>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
      <div class="form-card">
        <h2>Edit your profile</h2>

        <%= simple_form_for @user do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :nickname,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "Kite-ian M'bappe" }%>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <label class="btn btn-warning" value='Photo:'>
              Add a photo
              <span style="display:none;">
                <%= f.input :photo, required: true, multiple: true, name: 'photo' %>
              </span>
            </label>
            <%= f.input :photo_cache, as: :hidden %>
            <br><br>
          </div>

          <div class="form-actions text-center">
            <%= f.button :submit, "Edit profile", class: 'btn btn-izy' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
