<div class="container">
  <% if @experiences != [] %>
    <div class="cards" id="card-padding">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-2">
          <% @experiences.each do |experience| %>
            <div class="card-my-experience">
              <img src= <%= cl_image_path experience.photo %> >
                <div class="my-experience-infos">
                  <span>
                    <h2><%= link_to experience.name, experience_path(experience) %></h2>
                    <p><%= experience.description.truncate(80, separator: ' ') %></p>
                    <p><italic><%= experience.address %></italic></p>
                    <p><%=  experience.price_per_day %> € per kiter</i></p>
                  </span>
                  <span class="card-actions">
                    <div>
                      <%= link_to edit_experience_path(experience) do %>
                        <i class="fas fa-pencil-alt"></i>
                      <% end %>
                    </div>
                    <div>
                      <%= link_to experience_path(experience), method: :delete do %>
                        <i class="fas fa-trash-alt"></i>
                      <% end %>
                    </div>
                  </span>
                </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="container text-center" id="btn-hostings"><%= link_to 'All my hostings', my_hostings_path, class:'btn-izy' %></div>
  <% else %>
    <%= render 'shared/banner_kite_master' %>
  <% end %>
</div>
