<div class="container">
  <% if @experiences != [] %>
    <div class="cards">
      <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
          <% @experiences.each do |experience| %>
            <div class="card-my-experience">
              <img src= <%= cl_image_path experience.photo %> >
                <div class="my-experience-infos">
                  <span>
                    <h2><%= experience.name %></h2>
                    <p><%= experience.description.truncate(200, separator: ' ') %></p>
                    <p><italic><%= experience.address %></italic></p>
                    <p><%=  experience.price_per_day %><i class="fas fa-euro-sign"></i></p>
                  </span>
                  <span class="card-actions">
                    <%= link_to edit_experience_path(experience) do %>
                      <i class="fas fa-pencil-alt"></i>
                    <% end %>
                    <%= link_to experience_path(experience), method: :delete do %>
                      <i class="fas fa-trash-alt"></i>
                    <% end %>
                  </span>
                </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  <% else %>
    <div class="container">
      <div id="home-banner" class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= image_path 'kite_one.jpg' %>')">
      <div class="banner-content text-center">
        <h2>Gagnez jusqu'à 20 000€ par mois en partageant vos expériences en kite !</h2>
        <a class="btn btn-primary btn-lg">Become Kite Master</a>
      </div>
    </div>
  <% end %>
</div>
