<div class="search-banner banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path 'search_banner.jpg' %>);">
  <div class="search-bar">
    <div class="container">s
      <h1>Search Anything ⚡️</h1>
      <div id="custom-search-input">
        <%= form_tag experiences_path, class: 'input-group col-md-12', method: :get do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control input-lg",
            placeholder: "The place of your dreams..."
          %>
          <%= button_tag(type: 'submit', class: 'btn btn-info btn-lg') do %>
            <i class="glyphicon glyphicon-search"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <h2>Our recommendations</h2>
  <div class="row">
    <% @experiences.each do |experience| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= link_to experience_path(experience) do %>
            <div class="card" id="card-spacing" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path experience.photo, crop: :fill %>');">
              <div class="card-category">Popular</div>
              <div class="card-description">
                <h2><%= experience.name %></h2>
                <p><%= experience.address %></p>
              </div>
              <% if experience.user.photo? %>
                <%= cl_image_tag experience.user.photo, class:'card-user', :transformation=>[ {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"fill"}, {:width=>200, :crop=>"scale"} ] %>
              <% else %>
                <%= image_tag 'emptyavatar.jpg', class:'card-user' %>
              <% end %>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>
  <%= render 'shared/banner_kite_master' %>
</div>


