<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="form-card">
        <h2>Sell an amazing experience!</h2>
        <%= simple_form_for(@experience) do |f| %>
          <%= f.input :name, placeholder: 'Kite in Paradise!' %>
          <%= f.input :description, placeholder: 'The Best Kite experience you ever had!' %>
          <%= f.input :address, placeholder: '3 wind street, 76549 Paris' %>

          <%= f.input :price_per_day, placeholder: '50' %>
          <%= f.input :minimum_stay, placeholder:'5 days', label: 'minimum stay in days' %>
          <label class="btn btn-warning" value='Photo:'>
            Add a photo
            <span style="display:none;">
              <%= f.input :photo, required: true, multiple: true, name: 'photo' %>
            </span>
          </label>
          <%= f.input :photo_cache, as: :hidden %>
          <br><br>
          <div class="text-center">
            <%= f.button :submit, class: 'btn btn-izy btn-centered' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
