<div class="banner" style="background-image: url('<%= cl_image_path @experience.photo %>')"></div>

<div class="container" id="container-xp">
  <div class="review-card xp xp-desc">
    <div id="xp-desc">
      <div class="xp-content">
        <h1><strong><%= @experience.name %></strong></h2>
        <% if @reviews != [] %>
          <div class="overall_rating">
            <span class="yellow-star">
              <% @overall_rating.times do %>
                  <i class="fas fa-star"></i>
              <% end %>
            </span>
              <% (5 - @overall_rating).times do %>
                <i class="fas fa-star"></i>
              <% end %>
            </div>
          <% end %>
        <h4 id="desc-xp"><%= @experience.address %></h4>
        <p><strong>Description:</strong></p>
        <p id="desc-xp-font-size"><%= @experience.description %></p>
        <p><strong>Price:</strong></p>
        <p id="desc-padding"> € <%= @experience.price_per_day %> per kiter</p>
        <% if  @experience.minimum_stay != nil %>
        <p><strong>Minimum stay:</strong></p>
          <p id="desc-padding"><%= @experience.minimum_stay %> days</p>
        <% end %>
        <%= link_to "Book now", new_experience_booking_path(@experience), class:'btn-izy' %>
        <% if @user_booking != nil && @user_booking.end_date < Time.now %>
          <%= link_to "Give a review", new_experience_review_path(@experience), class:'btn-izy' %>
        <% end %>
      </div>
      <div class="xp-photo">
        <% if @experience.user.photo? %>
          <%= cl_image_tag @experience.user.photo, class:'xp-avatar', :transformation=>[ {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"fill"}, {:width=>200, :crop=>"scale"} ] %>
        <% else %>
            <%= image_tag 'emptyavatar.jpg', class:'xp-avatar' %>
        <% end %>
        <div class="xp-details">
            <% if @experience.user.nickname == nil %>
              <p><strong>Posted by:</strong></p>
              <p>Mysterious Kiter</p>
              <p><strong>On:</strong></p>
              <p><%= @experience.created_at.strftime('%m/%d/%Y') %> </p>
            <% else %>
              <p><strong>Posted by:</strong></p>
              <p><%= @experience.user.nickname.capitalize %></p>
              <p><strong>On:</strong></p>
              <p><%= @experience.created_at.strftime('%m/%d/%Y') %> </p>
            <% end %>
            <div><%= link_to 'Send message', new_experience_booking_path(@experience), class:'btn-izy-booking' %>
            </div>
        </div>
        </div>
      </div>
    <br><br>
      <% if @reviews != [] %>
        <div class="experience-reviews">
          <% @reviews.each do |review| %>
            <div class="review-info">
              <span class="review-user-info">
                <% if review.booking.user.photo? %>
                  <%= cl_image_tag review.booking.user.photo, class:'review-avatar', :transformation=>[ {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"fill"}, {:width=>200, :crop=>"scale"} ] %>
                <% else %>
                  <%= image_tag 'emptyavatar.jpg', class:'review-avatar', :transformation=>[ {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"fill"}, {:width=>200, :crop=>"scale"} ] %>
                <% end %>
                <span class="nickname-and-stars">
                <p class="review-user"><%= review.booking.user.nickname.capitalize %></p>
                  <span class="yellow-star">
                    <% review.rating.times do %>
                      <i class="fas fa-star"></i>
                    <% end %>
                  </span>
                  <% (5 - review.rating).times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                </span>
              </span>
              <p class="review-content"><%= review.content %></p>
              <% if  current_user == review.booking.user%>
              <%= link_to review_path(review), method: :delete do %>
                <i class="fas fa-trash-alt"></i>
              <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
      <div
        id="map"
        class='map-experience'
        style="width: 100%;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
  </div>
</div>
