<div class="banner" style="background-image: url('<%= cl_image_path @experience.photo %>')"></div>

<div class="container" id="container-xp">
  <div class="review-card xp xp-desc">
    <div id="xp-desc">
      <div class="xp-content">
        <h1><%= @experience.name %></h1>
        <h2><%= @experience.address %></h2>
        <p>Description : <%= @experience.description %></p>
        <p id="desc-padding">€ <%= @experience.price_per_day %> per day</p>
        <%= link_to "Book now", new_experience_booking_path(@experience), class:'btn-izy' %>
        <% if @user_booking != nil && @user_booking.end_date < Time.now && @user_booking.confirmed %>
          <%= link_to "Give a review", new_experience_review_path(@experience), class:'btn-izy' %>
        <% end %>
        <br></br>
      </div>
      <div class="xp-photo">
        <% if @experience.user.photo? %>
          <%= cl_image_tag @experience.user.photo, class:'xp-avatar', :transformation=>[ {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"fill"}, {:width=>200, :crop=>"scale"} ] %>
        <% else %>
            <%= image_tag 'emptyavatar.jpg', class:'xp-avatar' %>
        <% end %>
        <div>
            <% if @experience.user.nickname == nil %>
              <p>Mysterious Kiter</p>
            <% else %>
              <p><%= @experience.user.nickname.capitalize %></p></div>
            <% end %>
        <div><%= link_to 'Send message' %></div>
      </div>
    </div>
    <br><br>
      <div class="experience-reviews">
        <% @reviews.each do |review| %>
          <div class="review-info">
            <span class="review-user-info">
              <% if review.booking.user.photo? %>
                <%= cl_image_tag review.booking.user.photo, class:'review-avatar', :transformation=>[ {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"fill"}, {:width=>200, :crop=>"scale"} ] %>
              <% else %>
                <%= image_tag 'emptyavatar.jpg', class:'review-avatar', :transformation=>[ {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"fill"}, {:width=>200, :crop=>"scale"} ] %>
              <% end %>
              <span class="nickname-and-stars">
              <p class="review-user"><%= review.booking.user.nickname.capitalize %></p>
                <span class="yellow-star">
                  <% review.rating.times do %>
                    <i class="fas fa-star"></i>
                  <% end %>
                </span>
                <% (5 - review.rating).times do %>
                  <i class="fas fa-star"></i>
                <% end %>
              </span>
            </span>
            <p class="review-content"><%= review.content %></p>
          </div>
        <% end %>
      </div>
      <div
        id="map"
        class='map-experience'
        style="width: 100%;
        height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
  </div>
</div>
