<div class="review-info">
  <span class="review-user-info">
    <% if review.booking.user.photo? %>
      <%= cl_image_tag review.booking.user.photo, class:'review-avatar', :transformation=>[ {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"fill"}, {:width=>200, :crop=>"scale"} ] %>
    <% else %>
      <%= image_tag 'emptyavatar.jpg', class:'review-avatar', :transformation=>[ {:width=>400, :height=>400, :gravity=>"face", :radius=>"max", :crop=>"fill"}, {:width=>200, :crop=>"scale"} ] %>
    <% end %>
    <span class="nickname-and-stars">
    <p class="review-user"><%= review.booking.user.nickname.capitalize %></p>
    <p id="review-created-at"><%= review.created_at.strftime('%m/%d/%Y') %></p>
      <span class="yellow-star">
        <% review.rating.times do %>
          <i class="fas fa-star"></i>
        <% end %>
      </span>
      <% (5 - review.rating).times do %>
        <i class="fas fa-star"></i>
      <% end %>
    </span>
  </span>
  <p class="review-content"><%= review.content %></p>
  <% if  current_user == review.booking.user%>
    <%= link_to review_path(review), class:'delete-button', method: :delete do %>
      <i class="fas fa-trash-alt"></i>
    <% end %>
  <% end %>
</div>
